In [18]:
import pandas as pd
import numpy as np
import preprocessing as prep
from ds_weather_api import *
import pickle
from datetime import datetime, timedelta

In [4]:
df = pd.read_csv("./Data/new_york/year_lga_dep.csv")
df.head()

,Unnamed: 0,Unnamed: 0.1,YEAR,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,OP_UNIQUE_CARRIER,TAIL_NUM,...,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,FIRST_DEP_TIME,TOTAL_ADD_GTIME,LONGEST_ADD_GTIME,Unnamed: 52,DAY_OF_YEAR
0,425,48919,2018,2,5,1,2,2018-05-01,UA,N826UA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1_5
1,483,450934,2018,2,5,1,2,2018-05-01,AA,N992NN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1_5
2,539,396682,2018,2,5,1,2,2018-05-01,AA,N813NN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1_5
3,599,358946,2018,2,5,1,2,2018-05-01,YX,N101HQ,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1_5
4,643,49039,2018,2,5,1,2,2018-05-01,UA,N446UA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1_5

In [5]:
div_info_cols = [col for col in df.columns if col.startswith('Div') and col != 'Diverted']
df.drop(div_info_cols, axis = 1, inplace = True)
df.head()

,Unnamed: 0,Unnamed: 0.1,YEAR,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,OP_UNIQUE_CARRIER,TAIL_NUM,...,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,FIRST_DEP_TIME,TOTAL_ADD_GTIME,LONGEST_ADD_GTIME,Unnamed: 52,DAY_OF_YEAR
0,425,48919,2018,2,5,1,2,2018-05-01,UA,N826UA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1_5
1,483,450934,2018,2,5,1,2,2018-05-01,AA,N992NN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1_5
2,539,396682,2018,2,5,1,2,2018-05-01,AA,N813NN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1_5
3,599,358946,2018,2,5,1,2,2018-05-01,YX,N101HQ,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1_5
4,643,49039,2018,2,5,1,2,2018-05-01,UA,N446UA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1_5

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 186782 entries, 0 to 186781
Data columns (total 56 columns):
Unnamed: 0               186782 non-null int64
Unnamed: 0.1             186782 non-null int64
YEAR                     186782 non-null int64
QUARTER                  186782 non-null int64
MONTH                    186782 non-null int64
DAY_OF_MONTH             186782 non-null int64
DAY_OF_WEEK              186782 non-null int64
FL_DATE                  186782 non-null object
OP_UNIQUE_CARRIER        186782 non-null object
TAIL_NUM                 186461 non-null object
OP_CARRIER_FL_NUM        186782 non-null int64
ORIGIN_CITY_MARKET_ID    186782 non-null int64
ORIGIN                   186782 non-null object
ORIGIN_CITY_NAME         186782 non-null object
ORIGIN_STATE_ABR         186782 non-null object
DEST_CITY_MARKET_ID      186782 non-null int64
DEST                     186782 non-null object
DEST_CITY_NAME           186782 non-null object
DEST_STATE_ABR           186782 non-null object
CRS_DEP_TIME             186782 non-null int64
DEP_TIME                 181410 non-null float64
DEP_DELAY                181088 non-null float64
DEP_DELAY_NEW            181088 non-null float64
DEP_DEL15                181088 non-null float64
DEP_DELAY_GROUP          181088 non-null float64
DEP_TIME_BLK             186782 non-null object
TAXI_OUT                 181036 non-null float64
WHEELS_OFF               181036 non-null float64
WHEELS_ON                180993 non-null float64
TAXI_IN                  180993 non-null float64
CRS_ARR_TIME             186782 non-null int64
ARR_TIME                 180994 non-null float64
ARR_DELAY                180423 non-null float64
ARR_DELAY_NEW            180423 non-null float64
ARR_DEL15                180423 non-null float64
ARR_DELAY_GROUP          180423 non-null float64
ARR_TIME_BLK             186782 non-null object
CANCELLED                186782 non-null float64
CANCELLATION_CODE        5757 non-null object
DIVERTED                 186782 non-null float64
CRS_ELAPSED_TIME         186782 non-null float64
ACTUAL_ELAPSED_TIME      180543 non-null float64
AIR_TIME                 180543 non-null float64
FLIGHTS                  186782 non-null float64
DISTANCE                 186782 non-null float64
DISTANCE_GROUP           186782 non-null int64
CARRIER_DELAY            42279 non-null float64
WEATHER_DELAY            42279 non-null float64
NAS_DELAY                42279 non-null float64
SECURITY_DELAY           42279 non-null float64
LATE_AIRCRAFT_DELAY      42279 non-null float64
FIRST_DEP_TIME           2039 non-null float64
TOTAL_ADD_GTIME          2039 non-null float64
LONGEST_ADD_GTIME        2039 non-null float64
Unnamed: 52              0 non-null float64
DAY_OF_YEAR              186782 non-null object
dtypes: float64(30), int64(13), object(13)
memory usage: 79.8+ MB

In [ ]:
df.describe()

In [10]:
prep.print_df_metadata(df)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 186782 entries, 0 to 186781
Data columns (total 57 columns):
Unnamed: 0               186782 non-null int64
Unnamed: 0.1             186782 non-null int64
YEAR                     186782 non-null int64
QUARTER                  186782 non-null int64
MONTH                    186782 non-null int64
DAY_OF_MONTH             186782 non-null int64
DAY_OF_WEEK              186782 non-null int64
FL_DATE                  186782 non-null object
OP_UNIQUE_CARRIER        186782 non-null object
TAIL_NUM                 186461 non-null object
OP_CARRIER_FL_NUM        186782 non-null int64
ORIGIN_CITY_MARKET_ID    186782 non-null int64
ORIGIN                   186782 non-null object
ORIGIN_CITY_NAME         186782 non-null object
ORIGIN_STATE_ABR         186782 non-null object
DEST_CITY_MARKET_ID      186782 non-null int64
DEST                     186782 non-null object
DEST_CITY_NAME           186782 non-null object
DEST_STATE_ABR           186782 non-null object
CRS_DEP_TIME             186782 non-null int64
DEP_TIME                 181410 non-null float64
DEP_DELAY                181088 non-null float64
DEP_DELAY_NEW            181088 non-null float64
DEP_DEL15                181088 non-null float64
DEP_DELAY_GROUP          181088 non-null float64
DEP_TIME_BLK             186782 non-null object
TAXI_OUT                 181036 non-null float64
WHEELS_OFF               181036 non-null float64
WHEELS_ON                180993 non-null float64
TAXI_IN                  180993 non-null float64
CRS_ARR_TIME             186782 non-null int64
ARR_TIME                 180994 non-null float64
ARR_DELAY                180423 non-null float64
ARR_DELAY_NEW            180423 non-null float64
ARR_DEL15                180423 non-null float64
ARR_DELAY_GROUP          180423 non-null float64
ARR_TIME_BLK             186782 non-null object
CANCELLED                186782 non-null float64
CANCELLATION_CODE        5757 non-null object
DIVERTED                 186782 non-null float64
CRS_ELAPSED_TIME         186782 non-null float64
ACTUAL_ELAPSED_TIME      180543 non-null float64
AIR_TIME                 180543 non-null float64
FLIGHTS                  186782 non-null float64
DISTANCE                 186782 non-null float64
DISTANCE_GROUP           186782 non-null int64
CARRIER_DELAY            42279 non-null float64
WEATHER_DELAY            42279 non-null float64
NAS_DELAY                42279 non-null float64
SECURITY_DELAY           42279 non-null float64
LATE_AIRCRAFT_DELAY      42279 non-null float64
FIRST_DEP_TIME           2039 non-null float64
TOTAL_ADD_GTIME          2039 non-null float64
LONGEST_ADD_GTIME        2039 non-null float64
Unnamed: 52              0 non-null float64
DAY_OF_YEAR              186782 non-null object
new_id_col               186782 non-null int64
dtypes: float64(30), int64(14), object(13)
memory usage: 81.2+ MB
Column: Unnamed: 0  |  Type = int64  |  186782 Unique Values
	 Negative Count = 0  |  NaN count = 0
Column: Unnamed: 0.1  |  Type = int64  |  164119 Unique Values
	 Negative Count = 0  |  NaN count = 0
Column: YEAR  |  Type = int64  |  2 Unique Values
	 Negative Count = 0  |  NaN count = 0
Column: QUARTER  |  Type = int64  |  4 Unique Values
	 Negative Count = 0  |  NaN count = 0
Column: MONTH  |  Type = int64  |  12 Unique Values
	 Negative Count = 0  |  NaN count = 0
Column: DAY_OF_MONTH  |  Type = int64  |  31 Unique Values
	 Negative Count = 0  |  NaN count = 0
Column: DAY_OF_WEEK  |  Type = int64  |  7 Unique Values
	 Negative Count = 0  |  NaN count = 0
Column: FL_DATE  |  Type = object  |  396 Unique Values
	FL_DATE
	2018-05-01    524
	2018-05-02    524
	2018-05-03    529
	2018-05-04    525
	2018-05-05    281
	             ...
	2019-05-27    462
	2019-05-28    532
	2019-05-29    534
	2019-05-30    537
	2019-05-31    537
	Name: new_id_col, Length: 396, dtype: int64
Column: OP_UNIQUE_CARRIER  |  Type = object  |  14 Unique Values
	OP_UNIQUE_CARRIER
	9E    29188
	AA    24185
	B6     6721
	DL    26838
	EV     2721
	F9     1190
	MQ    17201
	NK     4345
	OH     2060
	OO    11798
	UA    10235
	WN    12848
	YV     1713
	YX    35739
	Name: new_id_col, dtype: int64
Column: TAIL_NUM  |  Type = object  |  3719 Unique Values
	TAIL_NUM
	8805       23
	8809       11
	N101DU    101
	N101HQ    113
	N102DU    137
	         ...
	N997NN     63
	N998AN     63
	N998AT     47
	N998JB      1
	N998NN     44
	Name: new_id_col, Length: 3719, dtype: int64
Column: OP_CARRIER_FL_NUM  |  Type = int64  |  3245 Unique Values
	 Negative Count = 0  |  NaN count = 0
Column: ORIGIN_CITY_MARKET_ID  |  Type = int64  |  1 Unique Values
	 Negative Count = 0  |  NaN count = 0
Column: ORIGIN  |  Type = object  |  1 Unique Values
	ORIGIN
	LGA    186782
	Name: new_id_col, dtype: int64
Column: ORIGIN_CITY_NAME  |  Type = object  |  1 Unique Values
	ORIGIN_CITY_NAME
	New York, NY    186782
	Name: new_id_col, dtype: int64
Column: ORIGIN_STATE_ABR  |  Type = object  |  1 Unique Values
	ORIGIN_STATE_ABR
	NY    186782
	Name: new_id_col, dtype: int64
Column: DEST_CITY_MARKET_ID  |  Type = int64  |  71 Unique Values
	 Negative Count = 0  |  NaN count = 0
Column: DEST  |  Type = object  |  78 Unique Values
	DEST
	ACK      129
	AGS       16
	ATL    10418
	AVL       24
	BGR     1266
	       ...
	SYR     1226
	TPA     2215
	TVC       89
	TYS      942
	XNA      970
	Name: new_id_col, Length: 78, dtype: int64
Column: DEST_CITY_NAME  |  Type = object  |  75 Unique Values
	DEST_CITY_NAME
	Akron, OH                           339
	Asheville, NC                        24
	Atlanta, GA                       10418
	Augusta, GA                          16
	Bangor, ME                         1266
	                                  ...
	Tampa, FL                          2215
	Traverse City, MI                    89
	Washington, DC                     9209
	West Palm Beach/Palm Beach, FL     2894
	Wilmington, NC                     1069
	Name: new_id_col, Length: 75, dtype: int64
Column: DEST_STATE_ABR  |  Type = object  |  29 Unique Values
	DEST_STATE_ABR
	AL      688
	AR      970
	AZ        5
	CO     4479
	FL    24154
	GA    11542
	IA      485
	IL    18969
	IN     2710
	KY     5230
	LA     1338
	MA    11551
	ME     3289
	MI     6519
	MN     3378
	MO     6709
	MT       11
	NC    15239
	NE      673
	NH      399
	NY     4324
	OH    10847
	PA     5882
	SC     3189
	TN     7708
	TX    15036
	VA    17206
	VT      970
	WI     3282
	Name: new_id_col, dtype: int64
Column: CRS_DEP_TIME  |  Type = int64  |  779 Unique Values
	 Negative Count = 0  |  NaN count = 0
Column: DEP_TIME  |  Type = float64  |  1248 Unique Values
	 Negative Count = 0  |  NaN count = 5372
Column: DEP_DELAY  |  Type = float64  |  668 Unique Values
	 Negative Count = 112973  |  NaN count = 5694
Column: DEP_DELAY_NEW  |  Type = float64  |  636 Unique Values
	 Negative Count = 0  |  NaN count = 5694
Column: DEP_DEL15  |  Type = float64  |  2 Unique Values
	 Negative Count = 0  |  NaN count = 5694
Column: DEP_DELAY_GROUP  |  Type = float64  |  15 Unique Values
	 Negative Count = 112973  |  NaN count = 5694
Column: DEP_TIME_BLK  |  Type = object  |  18 Unique Values
	DEP_TIME_BLK
	0001-0559     1760
	0600-0659    11996
	0700-0759    10575
	0800-0859    12425
	0900-0959    14358
	1000-1059    11210
	1100-1159    13066
	1200-1259    11132
	1300-1359    12383
	1400-1459    11255
	1500-1559    12312
	1600-1659    12274
	1700-1759    11294
	1800-1859    12494
	1900-1959    11076
	2000-2059     9278
	2100-2159     7215
	2200-2259      679
	Name: new_id_col, dtype: int64
Column: TAXI_OUT  |  Type = float64  |  164 Unique Values
	 Negative Count = 0  |  NaN count = 5746
Column: WHEELS_OFF  |  Type = float64  |  1251 Unique Values
	 Negative Count = 0  |  NaN count = 5746
Column: WHEELS_ON  |  Type = float64  |  1313 Unique Values
	 Negative Count = 0  |  NaN count = 5789
Column: TAXI_IN  |  Type = float64  |  126 Unique Values
	 Negative Count = 0  |  NaN count = 5789
Column: CRS_ARR_TIME  |  Type = int64  |  1052 Unique Values
	 Negative Count = 0  |  NaN count = 0
Column: ARR_TIME  |  Type = float64  |  1318 Unique Values
	 Negative Count = 0  |  NaN count = 5788
Column: ARR_DELAY  |  Type = float64  |  712 Unique Values
	 Negative Count = 112566  |  NaN count = 6359
Column: ARR_DELAY_NEW  |  Type = float64  |  642 Unique Values
	 Negative Count = 0  |  NaN count = 6359
Column: ARR_DEL15  |  Type = float64  |  2 Unique Values
	 Negative Count = 0  |  NaN count = 6359
Column: ARR_DELAY_GROUP  |  Type = float64  |  15 Unique Values
	 Negative Count = 112566  |  NaN count = 6359
Column: ARR_TIME_BLK  |  Type = object  |  19 Unique Values
	ARR_TIME_BLK
	0001-0559     1059
	0600-0659       83
	0700-0759     4150
	0800-0859     8711
	0900-0959     9517
	1000-1059    12602
	1100-1159    13881
	1200-1259    12349
	1300-1359    12978
	1400-1459    11690
	1500-1559    11541
	1600-1659    11563
	1700-1759    10904
	1800-1859    12722
	1900-1959    10456
	2000-2059    13522
	2100-2159     9961
	2200-2259    11219
	2300-2359     7874
	Name: new_id_col, dtype: int64
Column: CANCELLED  |  Type = float64  |  2 Unique Values
	 Negative Count = 0  |  NaN count = 0
Column: CANCELLATION_CODE  |  Type = object  |  3 Unique Values
	CANCELLATION_CODE
	A     963
	B    2240
	C    2554
	Name: new_id_col, dtype: int64
Column: DIVERTED  |  Type = float64  |  2 Unique Values
	 Negative Count = 0  |  NaN count = 0
Column: CRS_ELAPSED_TIME  |  Type = float64  |  253 Unique Values
	 Negative Count = 0  |  NaN count = 0
Column: ACTUAL_ELAPSED_TIME  |  Type = float64  |  341 Unique Values
	 Negative Count = 0  |  NaN count = 6239

Column: AIR_TIME  |  Type = float64  |  273 Unique Values
	 Negative Count = 0  |  NaN count = 6239
Column: FLIGHTS  |  Type = float64  |  1 Unique Values
	 Negative Count = 0  |  NaN count = 0
Column: DISTANCE  |  Type = float64  |  77 Unique Values
	 Negative Count = 0  |  NaN count = 0
Column: DISTANCE_GROUP  |  Type = int64  |  9 Unique Values
	 Negative Count = 0  |  NaN count = 0
Column: CARRIER_DELAY  |  Type = float64  |  430 Unique Values
	 Negative Count = 0  |  NaN count = 144503
Column: WEATHER_DELAY  |  Type = float64  |  324 Unique Values
	 Negative Count = 0  |  NaN count = 144503
Column: NAS_DELAY  |  Type = float64  |  394 Unique Values
	 Negative Count = 0  |  NaN count = 144503
Column: SECURITY_DELAY  |  Type = float64  |  52 Unique Values
	 Negative Count = 0  |  NaN count = 144503
Column: LATE_AIRCRAFT_DELAY  |  Type = float64  |  409 Unique Values
	 Negative Count = 0  |  NaN count = 144503
Column: FIRST_DEP_TIME  |  Type = float64  |  855 Unique Values
	 Negative Count = 0  |  NaN count = 184743
Column: TOTAL_ADD_GTIME  |  Type = float64  |  216 Unique Values
	 Negative Count = 0  |  NaN count = 184743
Column: LONGEST_ADD_GTIME  |  Type = float64  |  197 Unique Values
	 Negative Count = 0  |  NaN count = 184743
Column: Unnamed: 52  |  Type = float64  |  0 Unique Values
	 Negative Count = 0  |  NaN count = 186782
Column: DAY_OF_YEAR  |  Type = object  |  365 Unique Values
	DAY_OF_YEAR
	10_1      527
	10_10     519
	10_11     281
	10_12     524
	10_2      431
	         ...
	9_5      1061
	9_6       322
	9_7       543
	9_8       541
	9_9       446
	Name: new_id_col, Length: 365, dtype: int64

In [8]:
df.head()

,Unnamed: 0,Unnamed: 0.1,YEAR,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,OP_UNIQUE_CARRIER,TAIL_NUM,...,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,FIRST_DEP_TIME,TOTAL_ADD_GTIME,LONGEST_ADD_GTIME,Unnamed: 52,DAY_OF_YEAR
0,425,48919,2018,2,5,1,2,2018-05-01,UA,N826UA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1_5
1,483,450934,2018,2,5,1,2,2018-05-01,AA,N992NN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1_5
2,539,396682,2018,2,5,1,2,2018-05-01,AA,N813NN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1_5
3,599,358946,2018,2,5,1,2,2018-05-01,YX,N101HQ,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1_5
4,643,49039,2018,2,5,1,2,2018-05-01,UA,N446UA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1_5

In [19]:
with open('May2018-May2019.pckl','rb') as f:
    weather_data = pickle.load(f)
weather_data

[{<WeatherReportType.Daily: 'daily'>: {datetime.datetime(2018, 8, 21, 4, 0): <ds_weather_api.WeatherReport at 0x7f60e032c810>},
  <WeatherReportType.Hourly: 'hourly'>: {datetime.datetime(2018, 8, 21, 4, 0): <ds_weather_api.WeatherReport at 0x7f60e025b1d0>,
   datetime.datetime(2018, 8, 21, 5, 0): <ds_weather_api.WeatherReport at 0x7f60e025bad0>,
   datetime.datetime(2018, 8, 21, 6, 0): <ds_weather_api.WeatherReport at 0x7f60e025b290>,
   datetime.datetime(2018, 8, 21, 7, 0): <ds_weather_api.WeatherReport at 0x7f60e025ba90>,
   datetime.datetime(2018, 8, 21, 8, 0): <ds_weather_api.WeatherReport at 0x7f60e025bb90>,
   datetime.datetime(2018, 8, 21, 9, 0): <ds_weather_api.WeatherReport at 0x7f60df2fdf10>,
   datetime.datetime(2018, 8, 21, 10, 0): <ds_weather_api.WeatherReport at 0x7f60df2fd990>,
   datetime.datetime(2018, 8, 21, 11, 0): <ds_weather_api.WeatherReport at 0x7f60df2fd7d0>,
   datetime.datetime(2018, 8, 21, 12, 0): <ds_weather_api.WeatherReport at 0x7f60df7e4550>,
   datetime.datetime(2018, 8, 21, 13, 0): <ds_weather_api.WeatherReport at 0x7f60df7e4f90>,
   datetime.datetime(2018, 8, 21, 14, 0): <ds_weather_api.WeatherReport at 0x7f60df7e4850>,
   datetime.datetime(2018, 8, 21, 15, 0): <ds_weather_api.WeatherReport at 0x7f60df7e4150>,
   datetime.datetime(2018, 8, 21, 16, 0): <ds_weather_api.WeatherReport at 0x7f60df7e4650>,
   datetime.datetime(2018, 8, 21, 17, 0): <ds_weather_api.WeatherReport at 0x7f60df7e4a10>,
   datetime.datetime(2018, 8, 21, 18, 0): <ds_weather_api.WeatherReport at 0x7f60df7e4a50>,
   datetime.datetime(2018, 8, 21, 19, 0): <ds_weather_api.WeatherReport at 0x7f60df7e4450>,
   datetime.datetime(2018, 8, 21, 20, 0): <ds_weather_api.WeatherReport at 0x7f60df7e4ad0>,
   datetime.datetime(2018, 8, 21, 21, 0): <ds_weather_api.WeatherReport at 0x7f60df33f2d0>,
   datetime.datetime(2018, 8, 21, 22, 0): <ds_weather_api.WeatherReport at 0x7f60df33f0d0>,
   datetime.datetime(2018, 8, 21, 23, 0): <ds_weather_api.WeatherReport at 0x7f60df33f110>,
   datetime.datetime(2018, 8, 22, 0, 0): <ds_weather_api.WeatherReport at 0x7f60df3aeb90>,
   datetime.datetime(2018, 8, 22, 1, 0): <ds_weather_api.WeatherReport at 0x7f60df3ae3d0>,
   datetime.datetime(2018, 8, 22, 2, 0): <ds_weather_api.WeatherReport at 0x7f60df3ae450>,
   datetime.datetime(2018, 8, 22, 3, 0): <ds_weather_api.WeatherReport at 0x7f60df3ae810>},
  <WeatherReportType.Currently: 'currently'>: {datetime.datetime(2018, 8, 21, 14, 41, 23): <ds_weather_api.WeatherReport at 0x7f60df3ae190>}}]

In [20]:
len(weather_data)

1