In [4]:
import numpy as np
import pandas as pd

In [7]:
df = pd.read_csv('/home/dbeiski/PycharmProjects/flight_data/304918815_T_ONTIME_REPORTING_2019_5.csv')

In [8]:
df.head()

,YEAR,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,OP_UNIQUE_CARRIER,OP_CARRIER_AIRLINE_ID,OP_CARRIER,TAIL_NUM,...,DISTANCE_GROUP,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,FIRST_DEP_TIME,TOTAL_ADD_GTIME,LONGEST_ADD_GTIME,Unnamed: 64
0,2019,2,5,3,5,2019-05-03,AA,19805,AA,N951UW,...,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2019,2,5,5,7,2019-05-05,AA,19805,AA,N953UW,...,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019,2,5,6,1,2019-05-06,AA,19805,AA,N958UW,...,2,0.0,0.0,0.0,0.0,28.0,NaN,NaN,NaN,NaN
3,2019,2,5,7,2,2019-05-07,AA,19805,AA,N951UW,...,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019,2,5,8,3,2019-05-08,AA,19805,AA,N956UW,...,2,0.0,0.0,0.0,0.0,48.0,NaN,NaN,NaN,NaN

In [9]:
df_dep = df[df['ORIGIN'] == 'LGA']
df_arr = df[df['DEST'] == 'LGA']

In [16]:
# Fration of delayed departures out of all departures.

print('Fration of delayed departures out of all departures : {:.2}'
      .format(df_dep['DEP_DEL15'].sum() / df_dep.shape[0]))

Fration of delayed departures out of all departures : 0.21

In [17]:
delayed = df_dep[df_dep['DEP_DEL15'] == 1]

In [22]:
a = delayed.loc[:, ['CARRIER_DELAY','WEATHER_DELAY','NAS_DELAY','SECURITY_DELAY','LATE_AIRCRAFT_DELAY']].dropna()

In [23]:
a.head()

,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
2,0.0,0.0,0.0,0.0,28.0
4,0.0,0.0,0.0,0.0,48.0
7,0.0,0.0,3.0,0.0,15.0
8,9.0,0.0,0.0,0.0,15.0
11,0.0,0.0,0.0,0.0,123.0

In [27]:
a[a.sum(axis=1) == 0.0]

Empty DataFrame
Columns: [CARRIER_DELAY, WEATHER_DELAY, NAS_DELAY, SECURITY_DELAY, LATE_AIRCRAFT_DELAY]
Index: []

If there is a delay we get a breakdown of the reason in most cases, but there is an unnegligible amount of missing data there.

In [28]:
df_dep.to_csv('/home/dbeiski/PycharmProjects/flight_data/may_lga_dep.csv')